  <% @projects.each do |project| %>
  	<h2> <%= project.name %> </h2>
  	<p> <%= project.start_date %> </p>
  	<p> <%= project.end_date %> </p> 
  	<p><%= truncate(project.description, length: 100) %></p>
  <%end%>